body {
    background: url(bg-mlbe.png) fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.member {
    min-height: 300vh;
    background: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background-position: center;
    position: relative;
    padding-top: 7rem;
    padding-bottom: 4rem;
}

.member::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 10%;
    bottom: 0;
    background: linear-gradient(0deg, rgb(42, 0, 66) 1%, rgba(255, 255, 255, 0) 15%);
}

.member h2 {
    text-align: center;
    font-size: 3.4rem;
    margin-bottom: 1.6rem;
    font-family: 'Poppins';
    font-weight: 700;
    font-style: italic;
    text-shadow: 3px 3px 3px rgb(113, 0, 179);
    text-decoration: underline gray;
}

.member h4 {
    font-size: 2rem;
    font-family: 'Poppins';
    font-weight: 700;
    color: #ffffff;
    margin: 5rem;
    transform: translateY(150%);
}

.member-top {
    transform: translateY(-40%);
}

.member-button {
    margin: 5rem;
}

.member-button button {
    margin: 0.5rem;
}

section {
    position: relative;
}

.member-card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transform: translateY(-10%);
}

.card {
    position: relative;
    width: 18rem;
    height: 27rem;
    background: rgba(255, 255, 255, 0.05);
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.2);
}

.content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imgbe img {
    height: 150px;
    border-radius: 100%;
    margin-bottom: 1.3rem;
}

.contentbe {
    text-align: center;
    font-size: 20px;
    padding: 0px;
}

.contentbe p {
    font-size: 15px;
    max-width: 15rem;
    color: white;
}

.contentbe h6 {
    color: rgb(171, 171, 171);
}

.contentbe h3 {
    font-size: 22px;
    color: white;
}

.contentbe button {
    margin-top: 10px;
}

.footer{
	background-color: transparent;
    padding: 70px 0;
    backdrop-filter: blur(20px);
}

.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

.dropdown-item {
    color: black;
}

.copy {
    text-align: center;
    color: white;
    padding-top: 3rem;
}

.copy a {
    color: #ffffff;
    text-decoration: none;
}

.copy img {
    height: 80px;
}

@media (max-width: 767px) {
    html {
        font-size: 65%;
    }

    nav {
        backdrop-filter: blur(20px);
    }

    .navbar-brand img {
        height: 50px;
    }

    .hero .isi {
        transform: translateX(-10%) translateY(-90%);
        padding: 9rem;
        max-width: 80rem;
    }
    
    .isi h1 {
        font-size: 2.0rem;
        color: white;
        text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
        line-height: 1;
        font-weight: 600px;
    }
    
    .isi h1 span {
        font-size: 2.0rem;
        color: orange;
        text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
        line-height: 1;
    }
    
    .isi p {
        font-size: 1.1rem;
        margin-top: 1rem;
        line-height: 1.4rem;
        font-weight: 100;
        text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    }

    .about {
        flex-wrap: wrap;
        padding: 5rem;
    }

    .about h2 {
        margin-bottom: 1rem;
    }

    .about p {
        max-width: 40rem;
        font-size: 15px;
    }

    .about-img img {        
        padding-top: 30px;
        width: 50%;
        height: 100%;
        transform: translateX(50%) translateY(0%);
    }

    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
